OnDemandProfileProject/SOA/Schemas/SGG-DG-SOA/xsd/ouaf/MR_Server.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://xmlns.oracle.com/ouaf/multispeak_4.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ouaf="http://xmlns.oracle.com/ouaf" xmlns:tns="http://xmlns.oracle.com/ouaf/multispeak_4.1" xmlns:mspk="http://xmlns.oracle.com/ouaf/multispeak_4.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://xmlns.oracle.com/ouaf" schemaLocation="ouaf.xsd"/>
	<xsd:element name="meterAddNotificationEnvelope">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ouaf:OUAFRequestEnvelope">
					<xsd:sequence>
						<xsd:element ref="tns:meterAddNotification"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="meterAddNotification">
		<xsd:annotation>
			<xsd:documentation>Case changed for OUAF compatibility.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="addedMeters" type="tns:meters" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="meterAddNotificationResponseEnvelope">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element ref="ouaf:fault"/>
					<xsd:sequence>
						<xsd:element ref="ouaf:instanceId"/>
						<xsd:element ref="ouaf:externalSenderID"/>
						<xsd:element ref="mspk:multiSpeakMsgHeader"/>
						<xsd:element ref="tns:meterAddNotificationResult" minOccurs="0"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="meterAddNotificationResult" type="tns:ArrayOfErrorObject">
		<xsd:annotation>
			<xsd:documentation>Case changed for OUAF compatibility</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="meterRemoveNotificationEnvelope">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ouaf:OUAFRequestEnvelope">
					<xsd:sequence>
						<xsd:element ref="tns:meterRemoveNotification"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="meterRemoveNotification">
		<xsd:annotation>
			<xsd:documentation>Case changed for OUAF compatibility.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="removedMeters" type="tns:meters" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="meterRemoveNotificationResponseEnvelope">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element ref="ouaf:fault"/>
					<xsd:sequence>
						<xsd:element ref="ouaf:instanceId"/>
						<xsd:element ref="ouaf:externalSenderID"/>
						<xsd:element ref="mspk:multiSpeakMsgHeader"/>
						<xsd:element ref="tns:meterRemoveNotificationResult" minOccurs="0"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="meterRemoveNotificationResult" type="tns:ArrayOfErrorObject">
		<xsd:annotation>
			<xsd:documentation>Case changed for OUAF compatibility.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="initiateMeterReadingsByMeterIDEnvelope">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ouaf:OUAFRequestEnvelope">
					<xsd:sequence>
						<xsd:element ref="tns:initiateMeterReadingsByMeterID"/>
						<xsd:element name="externalSenderID" type="xsd:string"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="initiateMeterReadingsByMeterID">
		<xsd:annotation>
			<xsd:documentation>Case changed for OUAF compatibility.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="meterIDs" type="tns:ArrayOfMeterID" minOccurs="0"/>
				<xsd:element name="responseURL" type="xsd:string" minOccurs="0"/>
				<xsd:element name="transactionID" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="tns:expTime" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="initiateMeterReadingsByMeterIDResponseEnvelope">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element ref="ouaf:fault"/>
					<xsd:sequence>
						<xsd:element ref="ouaf:instanceId"/>
						<xsd:element ref="ouaf:externalSenderID"/>
						<xsd:element ref="mspk:multiSpeakMsgHeader"/>
						<xsd:element ref="tns:initiateMeterReadingsByMeterIDResult" minOccurs="0"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="initiateMeterReadingsByMeterIDResult" type="tns:ArrayOfErrorObject">
		<xsd:annotation>
			<xsd:documentation>Case changed for OUAF compatibility.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
