OnDemandProfileProject/SOA/WSDLs/CYANOnDemanReadRespInterval_1_1_.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c.-->
<wsdl:definitions
     name="CYANOnDemanReadRespInterval"
     targetNamespace="http://ouaf.oracle.com/webservices/cm/CYANOnDemanReadRespInterval"
     xmlns:tns="http://ouaf.oracle.com/webservices/cm/CYANOnDemanReadRespInterval"
     xmlns:ouaf="http://ouaf.oracle.com/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    >
    <wsdl:documentation>CYANOnDemanReadRespInterval version 2: CYANOnDemanReadRespInterval</wsdl:documentation>
    <wsp:UsingPolicy wssutil:Required="true"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://ouaf.oracle.com/" elementFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="Fault">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="ResponseStatus" type="xsd:string"/>
                        <xsd:element name="ResponseCode" type="xsd:int"/>
                        <xsd:element name="ResponseText" type="xsd:string"/>
                        <xsd:element name="ResponseData" minOccurs="0">
                            <xsd:complexType>
                                <xsd:attribute name="parm1" type="xsd:string"/>
                                <xsd:attribute name="parm2" type="xsd:string"/>
                                <xsd:attribute name="parm3" type="xsd:string"/>
                                <xsd:attribute name="parm4" type="xsd:string"/>
                                <xsd:attribute name="parm5" type="xsd:string"/>
                                <xsd:attribute name="parm6" type="xsd:string"/>
                                <xsd:attribute name="parm7" type="xsd:string"/>
                                <xsd:attribute name="parm8" type="xsd:string"/>
                                <xsd:attribute name="parm9" type="xsd:string"/>
                                <xsd:attribute name="text" type="xsd:string"/>
                                <xsd:attribute name="category" type="xsd:string"/>
                                <xsd:attribute name="numParm" type="xsd:int"/>
                                <xsd:attribute name="number" type="xsd:int"/>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="ServerMessage" minOccurs="0">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element name="Category" type="xsd:string"/>
                                    <xsd:element name="Number" type="xsd:string"/>
                                    <xsd:element name="CallSequence" type="xsd:string"/>
                                    <xsd:element name="ProgramName" type="xsd:string"/>
                                    <xsd:element name="Text" type="xsd:string"/>
                                    <xsd:element name="Description" type="xsd:string"/>
                                    <xsd:element name="Table" type="xsd:string"/>
                                    <xsd:element name="Field" type="xsd:string"/>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="money">
                <xsd:restriction base="xsd:decimal"/>
            </xsd:simpleType>
            <xsd:simpleType name="listAction">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="delete"/>
                    <xsd:enumeration value="add"/>
                    <xsd:enumeration value="update"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://ouaf.oracle.com/webservices/cm/CYANOnDemanReadRespInterval"
             elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <xsd:import namespace="http://ouaf.oracle.com/"/>
            <xsd:element name="CYANOnDemanReadRespInterval">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="communicationId" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="14"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="communicationType" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="bo">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="boStatus" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="12"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="statusReason" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="sender" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="statusDateTime" nillable="true" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="creationDateTime" nillable="true" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="version" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:decimal">
                                    <xsd:minExclusive value="-99999"/>
                                    <xsd:maxExclusive value="99999"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="deviceId" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="12"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="amiDeviceIdentifierNumber" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="initiatingOutCommunication" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="retryDetails" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="retryDateTime" nillable="true" type="xsd:dateTime"
                                         minOccurs="0"/>
                                    <xsd:element name="numberOfRetries" minOccurs="0" default="0">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:decimal">
                                                <xsd:minInclusive value="0"/>
                                                <xsd:maxExclusive value="999"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="currentErrorState" minOccurs="0">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="12"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="isToDoEntrySuppressed" nillable="true" type="xsd:boolean"
                                         minOccurs="0" default="false"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="transactionId" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="responseDetail" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="responseEnvelope" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="meterReadResults" minOccurs="0">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="intervalRead" minOccurs="0"
                                                                 maxOccurs="unbounded">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="deviceName"
                                                                             type="xsd:string"
                                                                             minOccurs="0"/>
                                                                        <xsd:element name="jobID"
                                                                             nillable="true"
                                                                             type="xsd:decimal"
                                                                             minOccurs="0"/>
                                                                        <xsd:element name="channel"
                                                                             minOccurs="0"
                                                                             maxOccurs="unbounded">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence>
                                                                                    <xsd:element name="number"
                                                                                         nillable="true"
                                                                                         type="xsd:decimal"
                                                                                         minOccurs="0"/>
                                                                                    <xsd:element
                                                                                         name="readValue"
                                                                                         nillable="true"
                                                                                         type="xsd:decimal"
                                                                                         minOccurs="0"/>
                                                                                    <xsd:element
                                                                                         name="channelStatus"
                                                                                         nillable="true"
                                                                                         minOccurs="0">
                                                                                        <xsd:simpleType>
                                                                                            <xsd:restriction
                                                                                                 base="xsd:string">
                                                                                                <xsd:enumeration
                                                                                                     value="CHANNEL_GMI_GENERAL_ERROR"/>
                                                                                                <xsd:enumeration
                                                                                                     value="QA_CHANNEL_GMI_UNSUPPORTED"/>
                                                                                                <xsd:enumeration
                                                                                                     value="CHANNEL_GMI_CRC_FLASH_ERROR"/>
                                                                                                <xsd:enumeration
                                                                                                     value="CQA_CHANNEL_GMI_UNSUPPORTED"/>
                                                                                                <xsd:enumeration
                                                                                                     value="CHANNEL_GMI_POWER_FAIL"/>
                                                                                                <xsd:enumeration
                                                                                                     value="QA_CHANNEL_GMI_POWER_FAIL"/>
                                                                                                <xsd:enumeration
                                                                                                     value="CHANNEL_GMI_SRC_SEL_ERROR"/>
                                                                                                <xsd:enumeration
                                                                                                     value="CQA_CHANNEL_GMI_POWER_FAIL"/>
                                                                                            </xsd:restriction>
                                                                                        </xsd:simpleType>
                                                                                    </xsd:element>
                                                                                    <xsd:element
                                                                                         name="uom"
                                                                                         type="xsd:string"
                                                                                         minOccurs="0"/>
                                                                                </xsd:sequence>
                                                                                <xsd:attribute name="action"
                                                                                     type="ouaf:listAction"/>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                        <xsd:element name="intervalStatus"
                                                                             nillable="true"
                                                                             minOccurs="0">
                                                                            <xsd:simpleType>
                                                                                <xsd:restriction base="xsd:string">
                                                                                    <xsd:enumeration value="QA_INTERVAL_GMI_POWER_FAIL"/>
                                                                                    <xsd:enumeration
                                                                                         value="1"/>
                                                                                    <xsd:enumeration
                                                                                         value="INTERVAL_GMI_POWER_FAIL"/>
                                                                                    <xsd:enumeration
                                                                                         value="INTERVAL_GMI_READ_DELAY_HIGH"/>
                                                                                    <xsd:enumeration
                                                                                         value="QA_UNKNOWN_FLAG_SET"/>
                                                                                    <xsd:enumeration
                                                                                         value="QA_CHANNEL_GMI_POWER_FAIL"/>
                                                                                </xsd:restriction>
                                                                            </xsd:simpleType>
                                                                        </xsd:element>
                                                                    </xsd:sequence>
                                                                    <xsd:attribute name="action" type="ouaf:listAction"/>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="utilityDeviceID" type="xsd:string"
                                                     minOccurs="0"/>
                                                <xsd:element name="transactionID" type="xsd:string"
                                                     minOccurs="0"/>
                                                <xsd:element name="instanceID" type="xsd:string" minOccurs="0"/>
                                                <xsd:element name="externalSenderID" type="xsd:string"
                                                     minOccurs="0"/>
                                                <xsd:element name="fault" minOccurs="0">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="faultCode" minOccurs="0">
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xsd:string">
                                                                        <xsd:maxLength value="14"/>
                                                                    </xsd:restriction>
                                                                </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="faultString" minOccurs="0">
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xsd:string">
                                                                        <xsd:maxLength value="100"/>
                                                                    </xsd:restriction>
                                                                </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="faultActor" minOccurs="0">
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xsd:string">
                                                                        <xsd:maxLength value="100"/>
                                                                    </xsd:restriction>
                                                                </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="detail" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="code" minOccurs="0"
                                                                             maxOccurs="unbounded">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence>
                                                                                    <xsd:element name="value"
                                                                                         minOccurs="0">
                                                                                        <xsd:simpleType>
                                                                                            <xsd:restriction
                                                                                                 base="xsd:decimal">
                                                                                                <xsd:minExclusive
                                                                                                     value="-99999999999.9999999"/>
                                                                                                <xsd:maxExclusive
                                                                                                     value="99999999999.9999999"/>
                                                                                            </xsd:restriction>
                                                                                        </xsd:simpleType>
                                                                                    </xsd:element>
                                                                                    <xsd:element
                                                                                         name="subCode"
                                                                                         minOccurs="0"
                                                                                         maxOccurs="unbounded">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element
                                                                                                     name="value"
                                                                                                     minOccurs="0">
                                                                                                    <xsd:simpleType>
                                                                                                        <xsd:restriction
                                                                                                             base="xsd:decimal">
                                                                                                            <xsd:minExclusive
                                                                                                                 value="-99999999999.9999999"/>
                                                                                                            <xsd:maxExclusive
                                                                                                                 value="99999999999.9999999"/>
                                                                                                        </xsd:restriction>
                                                                                                    </xsd:simpleType>
                                                                                                </xsd:element>
                                                                                            </xsd:sequence>
                                                                                            <xsd:attribute
                                                                                                 name="action"
                                                                                                 type="ouaf:listAction"/>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                </xsd:sequence>
                                                                                <xsd:attribute name="action"
                                                                                     type="ouaf:listAction"/>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                        <xsd:element name="reason"
                                                                             minOccurs="0"
                                                                             maxOccurs="unbounded">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence>
                                                                                    <xsd:element name="text"
                                                                                         minOccurs="0">
                                                                                        <xsd:simpleType>
                                                                                            <xsd:restriction
                                                                                                 base="xsd:string">
                                                                                                <xsd:maxLength
                                                                                                     value="2000"/>
                                                                                            </xsd:restriction>
                                                                                        </xsd:simpleType>
                                                                                    </xsd:element>
                                                                                </xsd:sequence>
                                                                                <xsd:attribute name="action"
                                                                                     type="ouaf:listAction"/>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                        <xsd:element name="node"
                                                                             minOccurs="0">
                                                                            <xsd:simpleType>
                                                                                <xsd:restriction base="xsd:string">
                                                                                    <xsd:maxLength value="100"/>
                                                                                </xsd:restriction>
                                                                            </xsd:simpleType>
                                                                        </xsd:element>
                                                                        <xsd:element name="role"
                                                                             minOccurs="0">
                                                                            <xsd:simpleType>
                                                                                <xsd:restriction base="xsd:string">
                                                                                    <xsd:maxLength value="10"/>
                                                                                </xsd:restriction>
                                                                            </xsd:simpleType>
                                                                        </xsd:element>
                                                                        <xsd:element name="detail"
                                                                             minOccurs="0">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence>
                                                                                    <xsd:element name="sqlMessage"
                                                                                         minOccurs="0"
                                                                                         maxOccurs="unbounded">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element
                                                                                                     name="class"
                                                                                                     minOccurs="0">
                                                                                                    <xsd:simpleType>
                                                                                                        <xsd:restriction
                                                                                                             base="xsd:string">
                                                                                                            <xsd:maxLength
                                                                                                                 value="100"/>
                                                                                                        </xsd:restriction>
                                                                                                    </xsd:simpleType>
                                                                                                </xsd:element>
                                                                                                <xsd:element
                                                                                                     name="lineNumber"
                                                                                                     minOccurs="0">
                                                                                                    <xsd:simpleType>
                                                                                                        <xsd:restriction
                                                                                                             base="xsd:decimal">
                                                                                                            <xsd:minExclusive
                                                                                                                 value="-99999999999999"/>
                                                                                                            <xsd:maxExclusive
                                                                                                                 value="99999999999999"/>
                                                                                                        </xsd:restriction>
                                                                                                    </xsd:simpleType>
                                                                                                </xsd:element>
                                                                                                <xsd:element
                                                                                                     name="message"
                                                                                                     minOccurs="0">
                                                                                                    <xsd:simpleType>
                                                                                                        <xsd:restriction
                                                                                                             base="xsd:string">
                                                                                                            <xsd:maxLength
                                                                                                                 value="2000"/>
                                                                                                        </xsd:restriction>
                                                                                                    </xsd:simpleType>
                                                                                                </xsd:element>
                                                                                                <xsd:element
                                                                                                     name="number"
                                                                                                     minOccurs="0">
                                                                                                    <xsd:simpleType>
                                                                                                        <xsd:restriction
                                                                                                             base="xsd:decimal">
                                                                                                            <xsd:minExclusive
                                                                                                                 value="-99999999999999"/>
                                                                                                            <xsd:maxExclusive
                                                                                                                 value="99999999999999"/>
                                                                                                        </xsd:restriction>
                                                                                                    </xsd:simpleType>
                                                                                                </xsd:element>
                                                                                                <xsd:element
                                                                                                     name="source"
                                                                                                     minOccurs="0">
                                                                                                    <xsd:simpleType>
                                                                                                        <xsd:restriction
                                                                                                             base="xsd:string">
                                                                                                            <xsd:maxLength
                                                                                                                 value="100"/>
                                                                                                        </xsd:restriction>
                                                                                                    </xsd:simpleType>
                                                                                                </xsd:element>
                                                                                                <xsd:element
                                                                                                     name="state"
                                                                                                     minOccurs="0">
                                                                                                    <xsd:simpleType>
                                                                                                        <xsd:restriction
                                                                                                             base="xsd:string">
                                                                                                            <xsd:maxLength
                                                                                                                 value="6"/>
                                                                                                        </xsd:restriction>
                                                                                                    </xsd:simpleType>
                                                                                                </xsd:element>
                                                                                            </xsd:sequence>
                                                                                            <xsd:attribute
                                                                                                 name="action"
                                                                                                 type="ouaf:listAction"/>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                </xsd:sequence>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CYANOnDemanReadRespIntervalRequest">
        <wsdl:part name="body" element="tns:CYANOnDemanReadRespInterval"/>
    </wsdl:message>
    <wsdl:message name="CYANOnDemanReadRespIntervalResponse">
        <wsdl:part name="body" element="tns:CYANOnDemanReadRespInterval"/>
    </wsdl:message>
    <wsdl:message name="Fault">
        <wsdl:part name="fault" element="ouaf:Fault"/>
    </wsdl:message>
    <wsdl:portType name="CYANOnDemanReadRespIntervalPortType">
        <wsdl:documentation>CYANOnDemanReadRespInterval version 2: CYANOnDemanReadRespInterval</wsdl:documentation>
        <wsdl:operation name="CYANOnDemanReadRespInterval">
            <wsdl:input message="tns:CYANOnDemanReadRespIntervalRequest"/>
            <wsdl:output message="tns:CYANOnDemanReadRespIntervalResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CYANOnDemanReadRespIntervalSoapBinding" type="tns:CYANOnDemanReadRespIntervalPortType">
        <wsp:PolicyReference URI="policy:Wssp1.2-2007-Https-BasicAuth-NoTimestamp.xml"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CYANOnDemanReadRespInterval">
            <soap:operation soapAction="http://192.168.203.36/webservices/CYANOnDemanReadRespInterval#CYANOnDemanReadRespInterval"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CYANOnDemanReadRespIntervalService">
        <wsdl:documentation>CYANOnDemanReadRespInterval version 2: CYANOnDemanReadRespInterval</wsdl:documentation>
        <wsdl:port name="CYANOnDemanReadRespIntervalPort" binding="tns:CYANOnDemanReadRespIntervalSoapBinding">
            <soap:address location="http://192.168.203.36:6501/ouaf/webservices/CYANOnDemanReadRespInterval"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
