OnDemandProfileProject/SOA/WSDLs/OnDemandProfileRestReference.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="OnDemandProfileRestReference"
     targetNamespace="http://xmlns.oracle.com/OnDemandProfileApplication/OnDemandProfileProject/OnDemandProfileRestReference"
     xmlns:tns="http://xmlns.oracle.com/OnDemandProfileApplication/OnDemandProfileProject/OnDemandProfileRestReference"
     xmlns:inp1="http://TargetNamespace.com/OnDemandProfileRestReference_onDemandProfile_request"
     xmlns:inp2="http://TargetNamespace.com/OnDemandProfileRestReference_onDemandProfile_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp3="http://TargetNamespace.com/OnDemandProfileRestReference_onDemandProfile_FaultBinding404"
    >
    <plnk:partnerLinkType name="OnDemandProfileRestReference">
        <plnk:role name="OnDemandProfileRestReferenceProvider" portType="tns:OnDemandProfileRestReference_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OnDemandProfileRestReference_onDemandProfile_request"
                 schemaLocation="../Schemas/OnDemandProfileRequest.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OnDemandProfileRestReference_onDemandProfile_response"
                 schemaLocation="../Schemas/OnDemandProfileResponse.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OnDemandProfileRestReference_onDemandProfile_FaultBinding404"
                 schemaLocation="../Schemas/FaultBinding404.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="onDemandProfile_inputMessage">
        <wsdl:part name="request" element="inp1:OnDemandProfile"/>
    </wsdl:message>
    <wsdl:message name="onDemandProfile_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="onDemandProfile_FaultBinding404Message">
        <wsdl:part name="fault_FaultBinding404" element="inp3:FaultBinding"/>
    </wsdl:message>
    <wsdl:message name="onDemandProfile_FaultBinding503Message">
        <wsdl:part name="fault_FaultBinding503" element="inp3:FaultBinding"/>
    </wsdl:message>
    <wsdl:portType name="OnDemandProfileRestReference_ptt">
        <wsdl:operation name="onDemandProfile">
            <wsdl:input message="tns:onDemandProfile_inputMessage"/>
            <wsdl:output message="tns:onDemandProfile_outputMessage"/>
            <wsdl:fault name="FaultBinding404" message="tns:onDemandProfile_FaultBinding404Message"/>
            <wsdl:fault name="FaultBinding503" message="tns:onDemandProfile_FaultBinding503Message"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
